*
{
  margin: 0;
  padding: 0;
}
:root
{
  --maincolor:white;
}
body
{
  font-family: 'Orbitron', sans-serif;
  background-image:linear-gradient( 135deg, #EEAD92 10%, #6018DC 100%);
  background-repeat: no-repeat;
  color:var(--maincolor);
  max-width: 100vw;
  height:100vh;
}

.container
{
  display: grid;
  /* grid-template-columns: repeat(autofit,minmax(320px,1fr)); */
  grid-template-columns: repeat(2,minmax(320px,1fr));
  grid-auto-rows: minmax(200px,auto);
  grid-gap:10px;
  max-width: 960px;
  margin: 0 auto;
  /* background-color: rgb(199, 183, 242); */
  grid-template-areas:
    ". ."
    " description icon"
    "temperature temperature"
    " time time";
}

.icon
{
  /* background-color: rgb(199, 183, 242); */
  grid-area:icon;
  padding: 2rem;
  align-self: center;
  justify-self:center;
}

.temperature
{
  grid-area:temperature;
  /* background-color: rgb(199, 183, 242); */
  padding: 2rem;
  align-self: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.temperature > h2
{
  padding: 0 1vw;
  font-size: 3rem;
}
.temperature span
{
  font-size: 1.9rem;
}
.temperature h3
{
  font-size: 3rem;
  padding-left: .9vw;
}
.description
{
  grid-area:description;
  align-self: center;
  /* background-color: rgb(199, 183, 242); */
  padding: 2rem;
}
.description > h3
{
  font-size: 2.2rem;

}
.time
{
  grid-area:time;
  align-self: center;
  padding: 2rem;
}
.time > h4
{
  font-size: 3.6rem;
  text-align: center;
  padding: 1rem;
  letter-spacing: 1.5vw;
  text-transform: uppercase;
}
.time > h3
{
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1.7vw;
}
